@media (max-width:1400px){
    .hero_navi{
        padding:0 2rem;
    }
    .con2Txt{
        flex-grow: 0;
        width:40%;
    }
    .con2Slider{
        width:60%;
        flex-shrink: 1;
    }
    .subHero{
        height:680px;
    }
    .gridList{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    .loginForm{
        width:45%;
    }
}