main{
    padding-top: 3rem;
}
/* slider hero */
.hero{
    width:100%;
}
.hero img{
    width:100%;
    object-fit: cover;
}
.hero_navi{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    z-index: 1000;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:0 3rem;
    box-sizing: border-box;
}
.hero_navi svg{
    height:2rem;
    width:2rem;
    cursor: pointer;
    overflow: visible;
}
.hero_navi svg:hover rect{
    stroke: #F2C970;
    stroke-width: 3;
}
.hero .swiper-wrapper {
    /* transition-timing-function: cubic-bezier(1, 0.2, 0, 1.03); */
}
.bannerLine{
    background-color: var(--main-color);
    padding:1rem 0;
    display: flex;
    justify-content: center;
    gap:var(--space-large);
    align-items: center;
}
.hero{line-height: 0;}
.con1{
    padding-top: var(--space-xx-large);
    text-align: center;
}
.con1 h1{
    margin-bottom: var(--space-normal);
}
.con1 h1+p{
    margin-bottom: var(--space-x-large);
}
.newArrStation{
    margin-top: var(--space-large);
}
.slideItemList figure img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.pt1{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-small);
}
.pt2{
    margin-bottom: var(--space-large);
}
.proTxt{
    margin-top: var(--space-normal);
    text-align: left;
}

/* 상품 제목 스타일 */
.proTxt .pt2 h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.pt3{
    display: flex;
    align-items: flex-end;
    gap: var(--space-x-small);
}
.con2{
    display: flex;
    gap:1rem;
    padding-top: var(--space-xx-large);
}
.con2Txt{
    flex-grow: 1;
    padding-top: var(--space-x-large);
}
.con2Txt h1{
    margin-bottom: var(--space-x-large);
}
.con2Txt h3{
    margin-bottom: var(--space-normal);
}
.con2Slider{
    width:1042px;
    flex-shrink: 0;
}
.eventStation{
    width:100%;
}
.eventList figure img{
    width:100%;
}
.eventList figure{
    margin-bottom: var(--space-normal,1rem);
}
.eventList h4{
    margin-bottom: var(--space-small);
}
.eventList p{
    margin-bottom: var(--space-small);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.date{
    font-size: var(--detail);
    color:var(--gray-color);
}
.con3{
    padding-top: var(--space-xx-large);
    text-align: center;
}
.con3 h1{
    margin-bottom: var(--space-normal);
}
.con3 h1+p{
    margin-bottom: var(--space-x-large);
}
.list{
    margin-top: var(--space-large);
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem 1rem;
}
.list>li{
    /* border:1px solid #000;
    padding:1rem; */
}
.list img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.list figure{
    margin-bottom: var(--space-normal);
}
.list h4{
    margin-bottom: var(--space-small);
}
.detail{
    font-size: var(--detail);
    color:var(--gray-color);
}
.con4{
    padding-top: var(--space-xx-large);
    text-align: center;
}
.con4 h1{
    margin-bottom: var(--space-normal);
}
.con4 h1+p{
    margin-bottom: var(--space-x-large);
}
.moovLifeStation{
    margin-top: var(--space-large);
    text-align: left;
}
.moovLifeList figure img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.star{
    margin-top: var(--space-normal);
    margin-bottom: var(--space-small);
    display: flex;
    gap: var(--space-x-small);
}
.star img{
    height:1.2rem;
}
.moovLifeList h4{
    margin-bottom: var(--space-small);
}
.moovLifeList p{
    margin-bottom: var(--space-small);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

/* product */
.subHero{
    height:800px;
    display: flex;
    align-items: center;
    background:rgba(0, 0, 0, 0.2) url("../img/sub_hero_banner.jpg") no-repeat 50% 50% / cover;
    background-blend-mode: overlay;
    color:#fff;
}
.subHeroTitle{
    font-size:4rem;
    font-weight: 700;
}
.subHeroDesc{
    font-size:1.4rem;
}
.dlfilter{
    text-align: left;
    display: flex;
    gap:1rem;
    align-items: center;
}
.dlfilter dt{
    width:132px;
    flex-shrink: 0;
    font-weight: 700;
}
.dlfilter dd{
    flex-grow: 1;
    padding:var(--space-small);
}
.filterCate{
    display: flex;
    gap:var(--space-normal);
}
.filterCate a{
    display: flex;
    padding:0.2rem 1rem;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gridList{
    margin-top: var(--space-large);
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap:2rem 1rem;
    text-align: left;
}
.gridTxt1{
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-normal);
    margin-bottom: var(--space-normal);
    gap:var(--space-normal)
}
.gridTxt1 h4{
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gridTxt2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: var(--space-normal);
}
.gridTxt3{
    margin-bottom: var(--space-large);
    font-size:var(--detail);
    color:var(--gray-color);
}

.mbs1{
    padding-top: var(--space-xx-large);
    text-align: center;
}
.mbs1 h1{
    margin-bottom: var(--space-normal);
}
.mbs1 p{
    margin-bottom: var(--space-large);
}
.step{
    display: inline-flex;
    gap:var(--space-normal);
}
.step figure{
    height:4.5rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: var(--space-x-small);
    background-color: #FDEBC5;
}
.step li.on figure{
    background-color: var(--main-color);
}
.step span{
    font-size:var(--detail);
}
.step li.on span{
    color:var(--main-color);
    text-decoration: underline;
}
.step figure img{
    height:2rem;
}
.mbs2{
    padding-top: var(--space-xx-large);
    text-align: center;
}
.mbs2 h2{
    margin-bottom: var(--space-normal);
}
.mbs2 p{
    margin-bottom: var(--space-large);
}
.certi{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
}
.certi a{
    border:1px solid #000;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
}
.certi li img{
    height:3rem;
}
.certi span{
    font-weight: 700;
}
.cau{
    text-align: left;
    margin-top: var(--space-large);
    /* list-style: disc;
    list-style-position: inside; */
}
.cau li{
    padding-left: 1rem;
    position: relative;
}
.cau li:after{
    content:"";
    position: absolute;
    left:0;
    top:calc(50% - 0.1rem);
    width:0.2rem;
    height:.2rem;
    background-color: #000;
}
.agrForm{
    text-align: left;
}
.agrCheck{
    margin-bottom: var(--space-small);
}
.custom_checkbox input{
    display: none;
}
.checkmark{
    display: inline-block;
    width:1rem;
    height:1rem;
    border:0.1rem solid #000;
}
.custom_checkbox{
    display: flex;
    align-items: center;
    gap:1rem;
}
.custom_checkbox input:checked + .checkmark{
    background:url("../img/checked.svg") no-repeat 50% 50% / contain;
}
.scrollBox{
    border:0.05rem solid #000;
    padding:1rem;
    white-space: pre-line;
    height:9rem;
    overflow: auto;
}
.agrForm fieldset{
    margin-bottom: var(--space-large);
}
.agrAll{
    display: flex;
    justify-content: center;
}
.confirm{
    display: flex;
    justify-content: center;
    margin-top: var(--space-x-large);
    gap:1rem;
}
.btn_cancel{
    font-size:var(--button);
    border:1px solid #000;
    padding:0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
}
.btn_cancel:hover{
    background-color: #000;
    color:#fff;
}
.btn_ok{
    font-size:var(--button);
    padding:0.5rem 1.5rem;
    border:1px solid var(--main-color);
    background-color: var(--main-color);
    cursor: pointer;
}
.btn_ok:hover{
    background-color: #fff;
}
.memberInfo{
    display: grid;
    grid-template-columns: 210px 350px;
    gap:1rem;
    justify-content: center;
}
.memberInfo input{
    padding:0.5rem 1rem;
    width:100%;
    text-align: center;
    font-size: var(--button);
    border:none;
    background-color: #ccc;
    border-radius: 50px;
    outline: 0;
    box-sizing: border-box;
}
.memberInfo select{
    padding:0.5rem 1rem;
    width:100%;
    text-align: center;
    font-size: var(--button);
    outline: 0;
    border:1px solid #000;
}

.loginForm{
    width:586px;
    margin:0 auto;
    margin-top: var(--space-x-large);
    text-align: center;
}
.loginForm h4{
    margin-bottom: var(--space-large);
}
.snsLogin a{
    display: flex;
    padding:1rem;
    font-size: var(--detail);
    justify-content: center;
    align-items: center;
    gap:var(--space-normal);
    border-radius: 100px;
}
.snsLogin{
    display: flex;
    flex-direction: column;
    gap:var(--space-normal);
}
.kakao{
    background-color: #FEE500;
}
.naver{
    background-color: #03C75A;
}
.or{
    margin:var(--space-normal) 0;
    position: relative;
}
.or:after{
    content:"";
    position: absolute;
    left:0;
    top:50%;
    border-bottom: 1px solid #000;
    width:100%;
    height:1px;
    z-index: -1;
}
.or span{
    background-color: #fff;
    padding:0 1rem;
}
.loginDiv label{
    display: none;
}
.loginDiv input{
    border:1px solid #000;
    display: flex;
    width:100%;
    padding:1rem;
    box-sizing: border-box;
    border-radius: 100px;
    font-size: var(--detail);
    text-align: center;
    outline: 0;
}
.loginDiv{
    display: flex;
    flex-direction: column;
    gap:var(--space-normal);
}
.loginDiv input::placeholder{
    color:#333;
}
.loginDiv input[type="submit"]{
    border:none;
    background-color: var(--main-color);
    cursor: pointer;
}
.loginDiv input[type="submit"]:hover{
    background-color: #FDEBC5;
}
.memMenu{
    display: flex;
    gap:var(--space-normal);
    justify-content: center;
    margin-top: var(--space-normal);
    font-size: var(--detail);
}
.con5{
    text-align: center;
}
.con5 h2{
    margin-bottom: var(--space-small);
}
.sticky_menu{
    display: flex;
    gap:0.5rem;
    justify-content: center;
}
.sticky_menu>li>a{
    width:10rem;
    padding:0.4rem 0;
    border:1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-x-small);
}
.csList{
    display: flex;
    margin-top: var(--space-xx-large);
    gap:var(--space-normal);
    margin-bottom: var(--space-x-large);
}
.csList section{
    flex:1;
}
.csList section p{
    margin-top: var(--space-normal);
    margin-bottom: var(--space-large);
}
.csList section a{
    border:1px solid #000;
    display: block;
    padding:1.5rem 0;
    font-size: var(--detail);
}
